body{
  background-image: url(../ss.jpg);
  background-attachment: fixed;
}

#heading h1{
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 25pt;
  background-color: #FFFAFA;
  padding: 7px;
}

#navigation nav{
  text-align: center;
  margin-top: 35px;
}

#navigation a{
  display: inline-block;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-style: italic;
  border: 1px ridge black;
  padding: 10px;
  color: black;
  background: #6495ED;
  text-decoration: none;
}

#navigation .current{
  color: #0000CD;
  text-decoration: underline;
}

#navigation a:hover{
  color: #0000CD;
  text-decoration: underline;
}

.current{
  color: #0000CD;
  text-decoration: underline;
}

.chapters{
  width: 340px;
  border: 1px ridge black;
  background: Snow;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-style: italic;
  margin-top: 45px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.chapters a{
  color: black;
  text-decoration: none;
}

.chapters a:hover{
  text-decoration: underline;
  color: #0000CD;
}

.results .austrian{
  background-image: url(../austrian_flag.jpg);
}

.results .swedish{
  background-image: url(../swedish_flag.jpg);
}
.results table{
  width: 615px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 100px;
}

.results th{
  background-color: #6495ED;
  width: 10px;
}

.results td{
  border: 1px solid black;
  padding: 23px;
  font-size: 15pt;
  font-weight: bold;
}

.medals table{
  background-color: white;
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 100px;
}

.medals h3, .person h3{
  margin-left: 115px;
  font-size: 15pt;
  font-weight: bold;
  width: 220px;
  border: 1px solid black;
  background-color: Snow;
  padding: 5px;
  text-align: center;
}

.person h3{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.person img:hover{
  border: 3px solid #6495ED;
}

.medals td{
  border: 1px solid black;
  padding: 10px;
  font-size: 15pt;
  text-align: center;
}

.medals img{
  width: 30px;
  height: 20px;
}

.all{
  background-color: #6495ED;
}

.gold{
  background-color: #FFD700;
}

.silver{
  background-color: Silver;
}

.bronze{
  background-color: #A0522D;
}

.image-box{
  display: flex;
  flex-direction: column;
  float: right;
}

.image-box .box1{
  margin-top: 200px;
}

.image-box .box2{
  margin-top: 300px;
}

.image-box img{
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 40px;
}

.leftcolumn{
  display: flex;
  flex-direction: column;
  float: left;
  margin-bottom: 120px;
}

.person table, #form{
  background-color: white;
  width: 700px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.person td{
  padding: 40px;
  font-size: 15pt;
}

.person .tables{
  margin-top: 100px;
}

#description{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-style: italic;
  font-weight: bold;
  color: MistyRose;
  margin-left: 100px;
  margin-top: 50px;
}

#form{
  padding: 40px;
  background-color: #6495ED;
}

#form #buttons{
  text-align: center;
}

.up{
  position: fixed;
  right: 0;
  bottom: 0;
}

.big_image{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big_image img{
  width: 600px;
  height: 400px;
}
